<div class="profile">
    <div class="tabs">
        <ul class="tabs__list">
            <li class="tabs__item  ">
                <a href="#/profile/{{userId}}/main" class="tabs__link">Основная информация</a>
            </li>
            <li class="tabs__item  ">
                <a href="#/profile/{{userId}}/followers" class="tabs__link">Подписчики</a>
            </li>
            <li class="tabs__item  ">
                <a href="#/profile/{{userId}}/following" class="tabs__link">Подписки</a>
            </li>
            <li class="tabs__item active">
                <a href="#/profile/{{userId}}/repositories" class="tabs__link">Репозитории</a>
            </li>
        </ul>
    </div>
    <div class="content"></div>
</div>